		* {
			 margin:0;
			padding:0; 
		}
		body, html { 
			width:100%; 
			height:100%;
			font-size: 14px;line-height: 1.5; 
			font-family: 'Noto Sans KR', sans-serif;
			min-width: 1380px;
			word-break: keep-all;
  			white-space: normal;
   			/*overflow-y: scroll;*/
		}
		ul { 
			list-style:none; 
		}
		a { 
			text-decoration:none; 
			color:#666;
			vertical-align: top;
		}
		img {
		 border:0; 
		 vertical-align: top;
		
		}
		em {
			font-style: normal;
		}

	#wrap {
		width:100%;
		position: relative;
   		/*overflow: hidden;*/
	}
	/*	header*/
	#header {
		position:relative;
		min-width: 980px;
		padding:0 10px 50px;
		background: #fff;
		z-index: 60;
	}
	#header .gnb {
		display: block;
	}
	#header .gnb>ul {
		max-width: 1300px;
		margin:0 auto;
		padding-top: 8px;
		text-align: right;
	}
	#header .gnb>ul li {
		display: inline-block;
		position: relative;
		padding-left: 5px;
		margin-left: 3px;


	}
	#header .gnb>ul li::after{
		content: "";
		display: block;
		width:1px;
		height: 10px;
		background:#ddd;
		position: absolute;
	    left: 0;
	    top: 3px;
	}
	#header .gnb>ul li:nth-child(1)::after {
		display: none;
	}
	#header .gnb>ul li a {
		font-size: 11px;
		line-height: 16px;



	}
	#header .gnb>ul li a #cartCount {
		
		width:16px;
		background:#000;
		border-radius: 50%;
		color:#fff;
		margin-left:5px;
		text-align: center;
		vertical-align: top;
		height: 16px;
		line-height: 16px;
		display: inline-block;
	}
	#header .nav  {
		
		display: block;
	}
	#header .nav>ul>li>.navIn>.nav_mid>ul>.logo {
		display:block;
		position: relative;
		
	    
	}
	#header .nav>ul>li>.navIn>.nav_mid>ul>.logo>a>.logo_img{
		position: absolute;
		top:-85px;
		left:0;
		width:318px;
		height: 82px;
	}
	#header .nav>ul {
		max-width: 1300px;
		margin:0 auto;
		padding-top: 25px;
		padding-left: 340px;
		box-sizing: border-box;
	
	}
	/*#header .nav>ul:after {
		content: '';
		clear:both;
		display: block;
	}*/
	#header .nav>ul>li {
		float: left;
		margin-left:40px;
		padding-bottom: 19px;
		
	}
	/*#header .nav>ul>li:before {
		content: '';
		clear: both;
		display: block;

	}#header .nav>ul>li:after {
		content: '';
		clear: both;
		display: block;
	}*/
	
	#header .nav>ul>li#m1{
		margin-left:0;
	}
	#header .nav>ul>li>a {
	font-weight: 600;
	font-size:16px;
	position:relative;
	color:#b8b8b8;
	padding-top: 1px;
	}

	#header .nav>ul>li>a span:nth-child(2) {
		margin-left:5px;
	}
	#header .nav>ul>li>a span:nth-child(2)::before {
		content: '';
		display: inline-block;
		width:1px;
		height: 13px;
		background:#ccc;
		
		margin-right:5px;

	}
	#header .nav>ul>li#m1 .navIn {
		background:#0076be;
	}
	#header .nav>ul>li#m2 .navIn {
		background:#2e2925;
	}
	#header .nav>ul>li#m3 .navIn {
		background:#235c37;
	}
	#header .nav>ul>li#m4 .navIn {
		background:#d85318;
	}
	
	#header .nav>ul>li#m1:hover>a {
		color:#0076be;
		border-top: 2px solid #0076be;
	}
	
	#header .nav>ul>li#m1.active>a {
		border-top: 2px solid #0076be;
		color:#0076be;
	}
	#header .nav>ul>li#m1.active.none>a {
		border-top: 0;
		color:#0076be;
	}
	#header .nav>ul>li#m1.active>a span:nth-child(2)::before {
		background:#0076be;
	}
	#header .nav>ul>li#m1.on>a {
		border-top: 2px solid #0076be;
		color:#0076be;
	}
	#header .nav>ul>li#m1.on>a span:nth-child(2)::before {
		background:#0076be;
	}
	#header .nav>ul>li#m2:hover>a {
		color: #2e2925;
		border-top: 2px solid  #2e2925;
	}
	
	#header .nav>ul>li#m2.active>a {
		border-top: 2px solid #2e2925;
		color:#2e2925;
	}
	#header .nav>ul>li#m2.active>a span:nth-child(2)::before {
		background:#2e2925;
	}
	#header .nav>ul>li#m2.on>a {
		border-top: 2px solid #2e2925;
		color:#2e2925;
	}
	#header .nav>ul>li#m2.on>a span:nth-child(2)::before {
		background:#2e2925;
	}
	#header .nav>ul>li#m3:hover>a {
		color:#235c37;
		border-top: 2px solid  #235c37;
	}
	
	#header .nav>ul>li#m3.active>a {
		border-top: 2px solid #235c37;
		color:#235c37;
	}
	#header .nav>ul>li#m3.active>a span:nth-child(2)::before {
		background:#235c37;
	}
	#header .nav>ul>li#m3.on>a span:nth-child(2)::before {
		background:#235c37;
	}
	#header .nav>ul>li#m4:hover>a {
		color:#d85318;
		border-top: 2px solid #d85318;
	}
	
	#header .nav>ul>li#m4.active>a {
		border-top: 2px solid #d85318;
		color:#d85318;
	}
	#header .nav>ul>li#m4.active>a span:nth-child(2)::before {
		background:#d85318;
	}
	#header .nav>ul>li#m4.on>a {
		border-top: 2px solid #d85318;
		color:#d85318;
	}
	#header .nav>ul>li#m4.on>a span:nth-child(2)::before {
		background:#d85318;
	}
	#header .nav>ul:after {
		content: "";
    	display: block;
		clear: both;

	}
	#header .nav>ul>li .navIn ul>li.all.active>.all_menu {
		display: block;
		background: #fff;

	}




















	#header .nav>ul>li.active .navIn {
		display: block;
		box-sizing: border-box;
	}
	#header .nav>ul>li.on .navIn {
		display: block;
		box-sizing: border-box;
	}
	#header .nav>ul>li .navIn  {
		display:none;
		position:absolute;
		left: 0;
		width:100%;
		height: 50px;
		padding:0 10px;
		bottom: 0;
		color:#fff;
	}
	#header .nav>ul>li .navIn .nav_mid {
		max-width: 1300px;
		margin:0 auto;
		box-sizing: border-box;
		text-align:right;
		/*position: relative;*/
	}
	#header .nav>ul>li .navIn ul:nth-child(1)  {
		display: inline-block;
		float:left;
	}
	#header .nav>ul>li .navIn ul::after {
	    content: "";
	    display: block;
	    clear: both;
	}
	#header .nav>ul>li .navIn ul + ul {
		float:none;
		display: inline-block;
	}
	#header .nav>ul>li .navIn ul + ul + ul {
		padding-left: 25px;
		position: relative;
		
	}
	#header .nav>ul>li .navIn ul + ul + ul:before {
		content: '';
		position: absolute;
		display: block;
		width:1px;
		height: 14px;
		background:#fff;
		top:50%;
		margin-top: -7px;
	}
	#header .nav>ul>li .navIn ul>li {
		float:left;
		padding-left: 25px;
	}
	#header .nav>ul>li .navIn ul>li.all {
		    padding-left: 0px;
	}
	#header .nav>ul>li .navIn ul>li.all>a {
		display: block;
		text-indent: -9999px;
		margin-top: 18px;
		width:19px;
		height: 15px;
		border:solid #fff;
		border-width: 3px 0;
		overflow: hidden;
		box-sizing: border-box;
		position: relative;

	} 
	#header .nav>ul>li .navIn ul>li.all>a::after {
		    content: "";
		    display: block;
		    position: absolute;
		    top:50%;
		     width: 19px;
		    height: 3px;
		   margin-top: -2px;
		    background: #fff;
	}
	#header .nav>ul>li .navIn ul>li>a {
		color:#fff;
		line-height:50px;
		position: relative;
	}
	#header .nav>ul>li .navIn ul>li>a::after {
		content: '';
		position: absolute;
		height: 1px;
		width:0;
		bottom: 0;
		transition: width .3s ease;
 		-webkit-transition: width .3s ease;
	}
	#header .nav>ul>li .navIn ul>li>a:hover::after {
		width:100%;
		left:0;
		background:#fff;
	}





	#header .nav>ul>li .navIn ul>li>.all_menu {
		display: none;
		
		position: absolute;
		width:100%;
		top:0;
		left: 0;
		color: #666;
   		text-align: left;
   		box-sizing: border-box;
   		border-bottom: 1px solid #ddd;

	}

	/*#header .nav>ul>li .navIn ul>li>.all_menu:before {
	    content: "";
	   clear: both;
	   display:  block;

	}*/
	#header .nav>ul>li#m1 .navIn ul>li.all.active>.all_menu:before {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 50px;
	    background: #0076be;

	}
	#header .nav>ul>li#m1 .navIn ul>li.all.on>.all_menu:before {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 50px;
	    background: #0076be;

	}
	#header .nav>ul>li.m2 .navIn ul>li.all.active>.all_menu:before {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 50px;
	    background: #2e2925;

	}
	
	#header .nav>ul>li#m3 .navIn ul>li.all.active>.all_menu:before {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 50px;
	    background:  #235c37;

	}
	
	#header .nav>ul>li#m4 .navIn ul>li.all.active>.all_menu:before {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 50px;
	    background: #d85318;

	}
	
	#header .nav>ul>li#m1 .navIn ul>li.all.active>.all_menu .all_menu_tit {
		background: #0076be;
	}

	#header .nav>ul>li#m2 .navIn ul>li.all.active>.all_menu .all_menu_tit {
		background:  #2e2925;
	}
	#header .nav>ul>li#m3 .navIn ul>li.all.active>.all_menu .all_menu_tit {
		background:#235c37;
	}
	#header .nav>ul>li#m4 .navIn ul>li.all.active>.all_menu .all_menu_tit {
		background:  #d85318;
	}
	

	#header .nav>ul>li .navIn ul>li.all>.all_menu .all_menu_tit {
		position: relative;
		max-width: 1300px;
		margin:0 auto;
		height: 50px;
		z-index: 9;
		
	}
	

	#header .nav>ul>li .navIn ul>li.all>.all_menu .all_menu_tit  span {
		color:#fff;
		font-size: 18px;
		line-height:50px;
	}

	#header .nav>ul>li .navIn ul>li.all>.all_menu .all_menu_tit> a {
		position: absolute;
		right:0;
		width:15px;
		height: 15px;
		top:19px;
		text-indent: -9999px;


	}
	#header .nav>ul>li .navIn ul>li.all>.all_menu .all_menu_tit> a:hover:after{
		transform: rotate(225deg);
	}
	#header .nav>ul>li .navIn ul>li.all>.all_menu .all_menu_tit> a:hover:before {
		transform: rotate(315deg);
	}

	#header .nav>ul>li .navIn ul>li.all>.all_menu .all_menu_tit> a::after {
		display: block;
		position: absolute;
		content: '';
		width:1px;
		height: 20px;
		background:#fff;
		transform: rotate(-45deg);
		transition: all 0.4s;
		top:0;
	}


	#header .nav>ul>li .navIn ul>li.all>.all_menu .all_menu_tit> a::before {
		content: '';
		position: absolute;
		display: block;
		width:1px;
		height: 20px;
		background:#fff;
		transform: rotate(45deg);
		transition: all 0.4s;
		top:0;
	}

	#header .nav>ul>li .navIn ul>li.all>.all_menu ul {
			display: table;
		    width: 100%;
		    max-width: 1300px;
		    margin: 0 auto;
			
		   
	}
	#header .nav>ul>li .navIn ul>li.all>.all_menu ul>li {
			display: table-cell;
			width: 20%;
   			padding: 40px 25px;
   			box-sizing: border-box;
   			float: none;
	}
	#header .nav>ul>li .navIn ul>li.all>.all_menu ul>li + li {
		    border-left: 1px solid #ddd;
	}
	#header .nav>ul>li .navIn ul>li.all>.all_menu ul>li p {
		color:#1f1f1f;
		font-size:15px;
		padding-bottom: 11px;
		border-bottom: 2px solid #1c1c1c;
		font-weight: 600px;
	}
	#header .nav>ul>li .navIn ul>li.all>.all_menu ul>li dl {
		line-height: 22px;
		font-size: 12px;
		margin-top: 23px;
	}

	#header .nav>ul>li .navIn ul>li.all>.all_menu ul>li dt {
		color:#1f1f1f;
		font-weight: 600;
		font-size:13px;
		margin-bottom: 5px;
	}











	#header .nav>ul>li .navIn ul>li>.menu_sub {
		display: none;
		position: absolute;
		width:100%;
		color:#666;
		background:#fff;
		border-bottom: 1px solid #ddd;
		text-align: left;
		left:0;
		

	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul {
		display: table;
		
		max-width: 1300px;
		margin:0 auto;
		min-height: 311px;
		width:100%;
		    float: none;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul:before {
		content: '';
		clear: both;
		display: block;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li{
		display: table-cell;
		width:14.28%;
		padding: 40px 25px;
		box-sizing: border-box;
		float:none;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li + li {
		 border-left: 1px solid #ddd;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li dl {
		line-height: 22px;
		font-size: 12px;
		
	}

	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li dt {
		color:#1f1f1f;
		font-weight: 600;
		font-size:13px;
		margin-bottom: 20px;

	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li dd a {
		line-height: 28px;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li a:hover {
		color:#0076b1;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li.bnr_area {
		padding-right: 22px;
		vertical-align: top;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li.bnr_area a{
		max-width: 140px;
		line-height: 1.5;
		color: #666;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li.bnr_area a:hover {
		color:#0076b1;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li.bnr_area a .img {
		display: block;
		max-width: 140px;
		margin-bottom: 5px;
	}
	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li.bnr_area a .img img  {
		width:100%;
	}

	#header .nav>ul>li .navIn ul>li>.menu_sub>ul>li.bnr_area a .text {
		height: 36px;
		
		font-size: 12px;
	}
	#header .nav>ul>li .navIn ul>li.sub_on>.menu_sub {
		display: block
	}

	#header .nav>ul>li.search {
		float:right;
		position: relative;
	}
	#header .nav>ul>li.search.search_on .search_box{
		display: block
	}
	#header .nav>ul>li.search.search_on>a {
		background:url(../img/close-button.png) no-repeat center;
		background-size: 60%;
		opacity: 1;
	}
	#header .nav>ul>li.search>a {
		width:27px;
		height: 23px;
		text-indent: -9999px;
		background:url(../img/search.png) no-repeat;
		background-size:80%;
		opacity: 0.5;
		display: block; 
		z-index: 1;
   		 position: relative;
	}
	#header .nav>ul>li.search .search_box {
		display: none;
		width:420px;
		background:#fff;
		font-size: 12px;
		position: absolute;
		right: 0;
		top: 0;

	}
	#header .nav>ul>li.search>.search_box>div {
		padding: 6px 30px 0 35px;
		height: 44px;
		box-sizing: border-box;

	}
	#header .nav>ul>li.search>.search_box>div>a {
		background:#000;
		text-indent: -99999px;
		position: absolute;
		left:0;
		width:30px;
		height: 30px;
		background:url(../img/search.png) no-repeat top;
		background-size:55%;

	}	
	#header .nav>ul>li.search>.search_box>div>input {
		border:0;
		outline-style: none;
		background:#fff;
		height:22px;
		width: 100%;
		line-height: 22px;

	}

	#header .nav>ul>li.search>.search_box>ul {
		border:1px solid #ddd;
		padding: 20px 30px;
	}

	#header .nav>ul>li.search>.search_box>ul>li {
		padding: 5px 0;
	}

	#header .nav>ul>li.search>.search_box>ul>li>a {

	}
	#header .nav>ul>li.search>.search_box>a.close {
		position: absolute;
		top:0;
		right:0;
		width:35px;
		height: 35px;
	}

	#header .nav>ul>li.search>.search_box>a.close::after {
		content: '';
		display: block;
		width:2px;
		height: 18px;
		background:#000;
		transform: rotate(45deg);
		position: absolute;
		top:5px;
		right:15px;
	}
	#header .nav>ul>li.search>.search_box>a.close::before {
		content: '';
		display: block;
		width:2px;
		height:18px;
		background:#000;
		transform: rotate(-45deg);
		position: absolute;
		top:5px;
		right:15px;
	}






	@media (max-width: 1024px) and (min-width: 768px) {


	 .nav > ul > li + li {padding-left:20px;}


	 }
