		* {
			 margin:0;
			padding:0; 
		}
		body, html { 
			width:100%; 
			height:100%; 
			font-family: 'Noto Sans KR', sans-serif;
		}
		ul { 
			list-style:none; 
		}
		a { 
			text-decoration:none; 
		}
		img {
		 border:0; 
		}
	
	#up_banner {
		width: 100%;
		position: relative;
		transition-duration: 0.3s;
	}
	#up_banner a img {
		width: 100%;
		min-width: 1280px;
		max-height: 1920px;
		vertical-align: top; 
	}

	#up_banner .banner_close {
		width:40px;
		height:40px;
		position:absolute;
		top: 0;
		left: 80%;
		z-index: 99;

	}
	#up_banner .banner_close .close_box{
		
		width: 100%;
		height: 40px;
		background: #000;
		opacity: 0.5;
	}
	#up_banner .banner_close  a {
		display: block;
		position: absolute;
		top:0;
		width:100%;
		height: 100%;
	    background: #252525;
	}
	#up_banner .banner_close span {
		display: block;
		position: absolute;
		height: 2px;
		width:50%;
		background:#fff;
		margin-top:20px;
		margin-left: 10px;
		transform: rotate(45deg);
	}
	#up_banner .banner_close span:nth-child(1){
	
	}

	#up_banner .banner_close span:nth-child(2){
		 transform: rotate(-45deg);
	}


	#wrap	{
		
		min-width: 1280px;
		position:relative; 
	}

	#wrap #header {
		width:100%;
		border-top: 5px solid #009223;
		transition-duration: 0.2s;
		position:absolute;
		height:165px;
		z-index:2;
		/*height:425px;*/
		background: #fff;
		overflow: hidden;

	}
	#wrap #header.open {
		   height: 450px;
		   transition-duration: 0.3s;
	}
	#wrap #header::after {
		display: block;
	    content: ' ';
	    border-bottom: 1px solid #e5e5e5;
	    width:100%;
	    padding-top:50px;
	}	
	#wrap #header .hd {
		max-width: 1170px;
	    margin: 0 auto;
	    position:relative;

	}
	#wrap #header .hd .logo {
		width:200px;
		height: 40px;
		margin:0 auto;
		padding-top: 35px;

	}
	#wrap #header .hd .nav {
		width:100%;
	    margin-top: 40px;
	}
	#wrap #header .hd .nav ul {
		
		width:900px;
		margin:0 auto;
	}
	#wrap #header .hd .nav ul li {
		float: left;
		width:180px;
		text-align: center;
		
		
	}
	


	#wrap #header .hd .nav ul li a.gnb {
		font-size: 18px;
		color:#292929;
		font-weight: bold;
		display: block;
		

	}
	#wrap #header .hd .nav ul li .sub {
		width:100%;
		
		padding-top:30px;
		

		
	}
	#wrap #header .hd .nav ul li .sub ul {
		width:180px;
		margin:0;
	}
	#wrap #header .hd .nav ul li .sub ul li {
		
		padding: 8px 0 9px;
	}
	#wrap #header .hd .nav ul li .sub ul li a {
		font-size: :15px;
		color:#666;
		letter-spacing: -0.05em;
		
		    
	}
	#wrap #header .hd .nav ul li .sub ul li a:hover {
		color:#009223;
		text-decoration: underline;

	}

	#wrap #header .hd .util_menu  {
		position:absolute;
		right: 25px;
		top:45px;

	}
	#wrap #header .hd .util_menu ul li {
		float: left;
	    margin-left: 5px;
	}
	#wrap #header .hd .util_menu ul li a {
		border: 1px solid #ddd;
		border-radius:50px;
		color: #666666;
		background-color: #fff;
		font-size:13px;
		letter-spacing: -0.05em;
	    padding: 5px 13px;
	    transition-duration: 0.3s;
	}
	#wrap #header .hd .util_menu ul li a:hover {
		border-color: #bbb;
	}
	#wrap #header .hd .util_menu ul li:nth-child(4) a {
		display: block;
		background:url("../image/worldwide.png") no-repeat center;
		background-size: 15px 15px;
		width:30px;
		height: 30px;
		padding: 0;
	  
	}


	/* 여기까지 해더 */

	/* 메인 슬라이드 박스 시작 */

	#wrap #main {
		width:100%;
		padding-top: 170px;
	}
	#wrap #main .main_wrapper {	
		width:100%;
		position:relative;
	}
	#wrap #main .main_wrapper .wrapper_box {
		width:100%;

	}
	#wrap #main .main_wrapper .wrapper_box .banner_box {
		width:100%;
		display: block;
		overflow: hidden; 
		height: 440px;
		position:relative;
	}
	#wrap #main .main_wrapper .wrapper_box .banner_box ul {
		width:500%;
	}
	#wrap #main .main_wrapper .wrapper_box .banner_box ul li {
		float:left;
		width:20%;

	}
	
	#wrap #main .main_wrapper .wrapper_box .banner_box .slide_box{
		position: relative;

	}

#wrap #main .main_wrapper .wrapper_box .banner_box .slide_box .slide_img {
	
	/*position: relative;
	left:50%;
	    margin-left: -960px;*/
	    text-align: center;
	}




/*	#wrap #main .main_wrapper .wrapper_box .banner_box .slide_wrap {
		position: relative;
		overflow: hidden;
	}*/
/*	#wrap #main .main_wrapper .wrapper_box ul li a {
		    position: absolute;
    left: 50%;
    margin-left: -960px;
	} */
	#wrap #main .main_wrapper .wrapper_box .banner_box .banner_control {
		position: absolute;
   		 left: 50%;
   		 bottom: 54px;
   		 width:1170px;
		margin-left:450px;
	}
	
	#wrap #main .main_wrapper .wrapper_box .banner_box .banner_bt {
		

		
	}
	#wrap #main .main_wrapper .wrapper_box .banner_box .banner_bt .bt_item {
		margin:0 5px;
		display: inline-block;
		
	}


	#wrap #main .main_wrapper .wrapper_box  .banner_box .banner_bt .bt_item a {
		display: block;
		width:10px;
		height: 10px;
		background:#000;
		border-radius:30px;
	}
	#wrap #main .main_wrapper .wrapper_box .banner_box  .banner_bt .bt_item a.active {
		background-color: #ffc300;
	    width: 30px;
	}
	
	#wrap #main .main_wrapper .wrapper_box .banner_box  .banner_bt .bt_item a.on{
		background-color: #ffc300;
	    width: 30px;
	}
	#wrap #main .main_wrapper .wrapper_box  .quick_link {
		width:1170px;
		margin:0 auto;
		height: 100%;
		position:relative;

	}
	#wrap #main .main_wrapper .wrapper_box .quick_link .quick_link_box {
		position:absolute;
		bottom: -40px;
		right: 0;
		width:600px;
		height: 80px;
	}
	#wrap #main .main_wrapper .wrapper_box .quick_link .quick_link_box .store {
		width:300px;
		height: 100%;
		float:left;
		
		border-radius: 30px 0 0 0;
		background: url(../image/map.png) no-repeat #ffc20d;
		background-position: 95px 25px;
	}
	#wrap #main .main_wrapper .wrapper_box .quick_link .quick_link_box .store  a{
		color:#000;
	}

	#wrap #main .main_wrapper .wrapper_box .quick_link .quick_link_box  a {
		width:100%;
		height:100%;
		display: block;
		line-height: 80px;
		text-align: center;
		color:#fff;
		font-weight: bold;
		font-size:20px;
		padding-left:20px;

	}
	#wrap #main .main_wrapper .wrapper_box .quick_link .quick_link_box .franchise {
		width:300px;
		height: 100%;
		float:left;
		border-radius: 0 0 30px 0;
		background: url(../image/book.png) no-repeat #009132;
		background-position: 70px 28px;
	}



	#wrap #section_menu {
		width:100%;
		/* height: 560px; */
	    overflow: hidden;
		
	}
	#wrap #section_menu .subway_menu {
		width:1170px;
		margin:0 auto;
		

	}
	#wrap #section_menu .subway_menu .menu_hd {
		width:100%;
		padding-top:150px;

	}
	#wrap #section_menu .subway_menu .menu_hd h1 {
		color:#292929;
		font-size: 40px;
		font-weight: bold;
		padding :17px 0 0 25px;
		float:left;
		background:url(../image/bul_tit.png) no-repeat;
		background-position:0px 10px; 
		font-family: 'Paytone One', sans-serif;
	}
	#wrap #section_menu .subway_menu .menu_hd .menu_tab {
		float: right;
		padding-top:35px;
	}
	#wrap #section_menu .subway_menu .menu_hd .menu_tab ul {

	}
	#wrap  #section_menu .subway_menu .menu_hd .menu_tab ul li {
		float:left;
		padding: 0 0 0 25px;

	}
	#wrap #section_menu .subway_menu .menu_hd .menu_tab ul li::after {
		content: '';
		border-left:1px solid #ddd;
		margin-left: 23px;
		font-size:13px;
			
	}
	#wrap  #section_menu .subway_menu .menu_hd .menu_tab ul li.last::after {
		border:0;
	}
	#wrap #section_menu .subway_menu .menu_hd .menu_tab ul li a {
		color:#666;
		cursor:pointer;
		letter-spacing:-0.03em;
	}
	#wrap #section_menu .subway_menu .menu_hd .menu_tab ul li:hover a {
		color:#009223;
	}
	#wrap  #section_menu .subway_menu .menu_hd .menu_tab ul li.active a {
		color:#009223;
		font-weight: bold;
	}
	#wrap  #section_menu .subway_menu .menu_hd .menu_tab ul li.on a {
		color:#009223;
		font-weight: bold;
	}
	#wrap  #section_menu .subway_menu .menu_slider_wrapper {
		
		width:100%;
		margin-top: 150px;
    	margin-bottom: 100px;
    	height: 320px;
    	position: relative;
     	

	}

	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich {
		width:100%;
		position: absolute;
		left:100%;
		opacity: 0;

	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich.on {
		display: block;
		left:0;
		opacity: 1;
		transition-duration: 0.5s;
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper {
		width: 1200px;
		min-width: 1200px;
    	margin: 0 auto;
    	clear:both;
	}








	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .viewport {
		/* overflow: hidden;
		background:#000; */
    	
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .viewport .view_wrap {

	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .viewport .view_wrap ul {
		width:500%;
		/*얼마영야하지?*/
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .viewport .view_wrap ul li {
		float: left;
		margin:0px 0px 0px 30px;
		width: 270px;
		overflow: hidden;
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .viewport .view_wrap ul li:first-child {
		margin-left: 0px;
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .viewport .view_wrap ul li a {
		width:100%;
		height: 100%;
		display: block;
	}





	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box {
		
		display: block;
		
		
		
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box .menu_controls {
		
		 width:100%;
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box .menu_controls a {
		
		
		display: block;
		width:50px;
		height: 50px;
		position:absolute; 
		z-index:1;
		top:135px;

	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box .menu_controls a:hover {
		
		
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box .menu_controls a.prev {
		background:url('../image/left_arrow_button_b.png') no-repeat center;
		background-size:20px;
		left:-100px;
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box .menu_controls a.prev:hover  {
		background:url('../image/left_arrow_button_w.png') no-repeat #ffc20d center;
		background-size:20px;
		border-radius: 100px; 
		
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box .menu_controls a.next {
		background:url('../image/right_arrow_button_b.png') no-repeat center;
		background-size:20px;
		right:-100px;
	}
	#wrap #section_menuu .subway_menu .menu_slider_wrapper .sandwich .sandwich_wrapper .menu_controls_box .menu_controls a.next:hover {
		background:url('../image/right_arrow_button_w.png') no-repeat #ffc20d center;
		background-size:20px;
		border-radius: 100px; 
		
	}



/*
	#wrap #section_menu .subway_menu .menu_slider_wrapper #sandwich_cl {
		display:none;
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper #sandwich_fl {
			display: block;
	}
	#wrap #section_menu .subway_menu .menu_slider_wrapper #sandwich_pm {
		display:none;
	}

	#wrap #section_menu .subway_menu .menu_slider_wrapper #sandwich_bf {
		display:none;
	} 
*/




	#wrap #content_wrapper {
		width:100%;
		background:url(../image/background.PNG)  no-repeat;
		background-size: cover;
	}


	#wrap #content_wrapper .content {
		width: 1225px;
		margin:0 auto;

	}

	#wrap #content_wrapper .content .content_box1 {
		
		display: block;
		padding-top: 80px;
	}
	#wrap #content_wrapper .content .content_box1 .utilization {
		
		width:400px;
		height: 300px;
		background: url(../image/utilization_bg.png) no-repeat;
		float:left;
	}
	#wrap #content_wrapper .content .content_box1 .utilization p {
		color:#fff;
		font-size: 28px;
		font-weight: bold;
		line-height: 40px;
		letter-spacing: -0.1em;
		padding:38px 0 0 39px;
	}
	#wrap #content_wrapper .content .content_box1 .utilization .btn {
		display: block;
		font-size: 16px; 
		font-weight: bold;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 20px;
		width:90px;
		color:#fff;
		line-height:36px;
		 margin: 90px 0 0 39px;

	}
	#wrap #content_wrapper .content .content_box1 .history {
		width:825px;
		height: 300px;
		background: url(../image/history_bg.png) no-repeat;
		float:left;
		position:relative;
	}
	#wrap #content_wrapper .content .content_box1 .history p {
		color:#fff;
		font-size:28px;
		font-weight: bold;
		line-height:40px;
		letter-spacing: -0.03em;
		position:absolute;
		left: 410px;
		top:38px;

	}
	#wrap #content_wrapper .content .content_box1 .history .btn {
		display: block;
		font-size: 16px; 
		font-weight: bold;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 20px;
		width:128px;
		color:#fff;
		line-height:36px;
		position:absolute;
		left: 410px;
		bottom: 42px;
	}






	#wrap #content_wrapper .content .content_box2 {
		clear: both;
		display: table;
		padding-top: 30px;
		padding-bottom: 80px;
	}

	#wrap #content_wrapper .content .content_box2 .new {

		width:870px;
		height: 300px;
		background:#fff;
		border-radius:30px 0 30px 0;
		display:table-cell;
		vertical-align: middle;

	}

	#wrap #content_wrapper .content .content_box2 .new .new_hd {
		width:400px;
		float:left;
	}
	#wrap #content_wrapper .content .content_box2 .new .new_hd h2 {
		color:#292929;
		font-size:30px;
		font-weight: bold;
		background:url(../image/bul_tit.png) no-repeat;
		background-position:100px 15px;
		padding: 17px 0 0 25px;
		line-height: 60px;
		text-align: center;
		font-family: 'Paytone One', sans-serif;
	}
	#wrap #content_wrapper .content .content_box2 .new .new_hd p {
		text-align: center;
		line-height: 26px;
		letter-spacing: -0.04em;
		padding-top: 10px;
		color: #666666;
	}
	#wrap #content_wrapper .content .content_box2 .new .new_list {
		width: 460px;
		float:left;

	}
	#wrap #content_wrapper .content .content_box2 .new .new_list ul li {
		padding-top: 21px;
	}
	#wrap #content_wrapper .content .content_box2 .new .new_list ul li a {
		color:#292929;
		letter-spacing: -0.04em;
		font-size:16px;
		
		position:relative;

	}
	#wrap #content_wrapper .content .content_box2 .new .new_list ul li a::after {
		content: '';
		position:absolute;
		bottom: 0;
		width:0;
		height: 1px;
		left: 0;
		
		transition: width .2s ease;
 		-webkit-transition: width .2s ease;

	}
	 #wrap #content_wrapper .content .content_box2 .new .new_list ul li a:hover {
		color:#009223;
		
		
	} 

	#wrap #content_wrapper .content .content_box2 .new .new_list ul li a:hover::after {
		
	
		width:100%;
		right: 0;
		background:#009223;
	}

	 #wrap #content_wrapper .content .content_box2 .new .new_list .more {
	 	display: block;
	 	font-size:14px;
	 	padding:30px 0 8px;
	 	color:#9999;
	 }

	#wrap #content_wrapper .content .content_box2 .sponsor {
		width:270px;
		height: 300px;
		border-radius: 0 30px 0 30px;
		background:#fff;
		margin-left:30px;
		overflow: hidden; 
		position:relative;
		
	}

	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner {

	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_viewport {
		width: 100%;
	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_viewport ul {
		width: 400%;
	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_viewport ul li {
		float:left;
		width:25%;
	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_viewport ul li img {
		width:100%;
		

	}

	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_control {
		position:absolute;
		top:14px;
		right:15px;
		z-index: 1;
	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_control .sponsor_item {
		display: inline-block;
		   padding: 0 3px;
	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_control .sponsor_item a	{
		display: block;
			
		width:10px;
		height: 10px;
		border-radius:30px;
		background:#fff;

	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_control .sponsor_item a.active {
		width:30px;
		background:#ffc300;
	}
	#wrap #content_wrapper .content .content_box2 .sponsor .sponsor_banner .sponsor_control .sponsor_item a.on {
		width:30px;
		background:#ffc300;
	}
	#wrap #quick_menu {
		width:100%;
		padding: 40px 0 37px;
		background:#fff;
	}
	#wrap #quick_menu ul {
		text-align: center;
	}
	#wrap #quick_menu ul li {
		display:inline-block;
		margin-left:80px;
	}
	#wrap #quick_menu ul li a .icon {
		width:70px;
		height: 70px;
		border-radius:100px;
		float:left;
		

	}
	#wrap #quick_menu ul li a .txt {
		float:left;
		padding-left: 20px;
	}
	#wrap #quick_menu ul li a .txt strong {
		display: block;
		color:#292929;
		font-size:18px;
		letter-spacing: -0.1em;
		padding-top: 12px;
		text-align: left;
		

	}	
	#wrap #quick_menu ul li a .txt p {
		display: block;
		color:#999999;
		font-size:13px;
		padding-top: 6px;
		text-align: left;
		font-weight: 500;
	}
	#wrap #quick_menu ul li a #qm1{
		background:url(../image/qm_icon.png) no-repeat center #f6f6f6;
		background-position: 0px 0px;

	}
	#wrap #quick_menu ul li a #qm2 {
		background:url(../image/qm_icon.png) no-repeat center #f6f6f6;
		background-position: -70px 0px;

	}
	#wrap #quick_menu ul li a #qm3 {
		background:url(../image/qm_icon.png) no-repeat center #f6f6f6;
		background-position: -140px 0px;

	}
	#wrap #quick_menu ul li a #qm4 {
		background:url(../image/qm_icon.png) no-repeat center #f6f6f6;
		background-position: -210px 0px;

	}
	#footer {
		width:100%;
		
		background-color: #292929;
		color:#666666;
		padding:22px 0;
		
		font-size:13px;
	}
	/* #footer .ft_content {
		width:1170px;
		margin:0 auto;
		position:relative;
	} */
	#footer  .ft_link  {
		border-bottom:1px solid #6666;
	}
	#footer .ft_link ul {
		width:1170px;
		margin:0 auto;
		padding-bottom: 25px;

	}
	#footer .ft_link ul li {
		display: inline-block;
		margin-right: 29px;
	}
	#footer .ft_link ul li a {
		color:#666666;
		font-size:14px;
		letter-spacing: -0.05em;
		
	}
	#footer .ft_link ul li a strong {
		color: #bbbbbb;

	}
	#footer .ft_address {
		width:1170px;
		margin:0 auto;
		padding-top: 20px;
		position:relative;
	}
	#footer .ft_address span {
		
		letter-spacing: -0.1em;
		
		


	}
	#footer .ft_address span:after {
		content: '';
		font-size:5px;
		border-left: 2px solid #666666;
		margin-left:  10px;
	}
	#footer .ft_address span.last::after {
		content: '';
		border:0;
	}
	#footer .ft_address p {
	padding-top: 5px;
	}
	#footer .ft_address .facebook_icon {
		display: block;
		position:absolute;
		bottom:  -3px;
		right:0;
		width:50px;
		height: 50px;
		border-radius:100px;
		background:url(../image/facebook-logo.png) no-repeat #324160 center;
		background-size:21px;
	}
	#footer .ft_address .facebook_icon:hover {
		background:url(../image/facebook-logo.png) no-repeat #3b5997 center;
		background-size:21px;
	}